.footer {
  background-color: var(--color-dark-0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.footer_text {
  font-family: var(--font-body);
  font-size: 0.6rem;
  color: var(--color-1);
  font-weight: 500;
}
.footer_logo {
  height: 0.75rem;
}
