.criar_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: var(--color-dark-1);
  color: var(--color-neutral-1);
}
.content {
  padding: 2rem 3rem;
  margin: 2rem 0rem;
  overflow: auto;
  background-color: var(--color-dark-0);
  height: 70%;
  width: 50%;
  border-radius: 20px;
  font-family: var(--font-body);
  font-size: 0.8rem;
}
h2 {
  font-family: var(--font-title);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-1);
}
.field1 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 1.5rem;
}
.modelo_3opcoes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.modelo_1opcao {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
  margin-bottom: 1rem;
}
.tipo_modelo {
  margin-bottom: 0.5rem;
}
.text_input,
.date_input {
  border-radius: 16px;
  padding: 0.3rem 1rem;
  background-color: var(--color-dark-1);
  color: var(--color-neutral-1);
  font-family: var(--font-body);
}
.radio_name {
  display: flex;
}
.card {
  background-color: var(--color-dark-0);
  font-family: var(--font-body);
  color: var(--color-neutral-1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--color-1);
}
.card img {
  height: 1.3rem;
  background-color: var(--color-1);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}
.card_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.card_row2 {
  background-color: var(--color-dark-2);
}
.card_button {
  padding: 3px;
}
.card_edit {
  background-color: blue;
}
.card_delete {
  background-color: red;
}
.acoes {
  padding: 1.5rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.acoes button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: var(--font-body);
  background-color: var(--color-dark-2);
  color: var(--color-neutral-1);
  cursor: pointer;
}
.anot_p {
  width: 10rem;
}
.anot_g {
  width: 20rem;
}
