<header class="header">
  <div class="header_logo_container">
    <img
      class="header_logo"
      src="../../../assets/img/main_logo.png"
      alt="Main logo."
    />
    <h1 class="header_title">angular sandbox</h1>
  </div>
  <div class="header_menu">
    <input type="checkbox" id="menu_toggle" class="menu_checkbox" />
    <label for="menu_toggle">
      <img
        class="header_menu_icon"
        src="../../../../assets/img/menu_w.png"
        alt="Menu de projetos"
      />
    </label>
    <ul class="menu_list">
      <li class="menu_list_item">
        <a routerLink="" class="menu_link"
          ><div class="link_wrap">
            <p>home</p>
            <img
              class="link_icon"
              src="../../../../assets/img/home_w.png"
              alt=""
            /></div
        ></a>
      </li>
      <li class="menu_list_item">
        <a routerLink="/banco" class="menu_link"
          ><div class="link_wrap">
            <p>banco</p>
            <img
              class="link_icon"
              src="../../../../assets/img/bank_w.png"
              alt=""
            /></div
        ></a>
      </li>
      <li class="menu_list_item">
        <a routerLink="/calculadora" class="menu_link"
          ><div class="link_wrap">
            <p>calculadora</p>
            <img
              class="link_icon"
              src="../../../../assets/img/calculator_w.png"
              alt=""
            /></div
        ></a>
      </li>
      <li class="menu_list_item">
        <a routerLink="/memoteca" class="menu_link"
          ><div class="link_wrap">
            <p>memoteca</p>
            <img
              class="link_icon"
              src="../../../../assets/img/notes_w.png"
              alt=""
            /></div
        ></a>
      </li>
      <li class="menu_list_item">
        <a routerLink="/checklist" class="menu_link"
          ><div class="link_wrap">
            <p>checklist</p>
            <img
              class="link_icon"
              src="../../../../assets/img/checkbox_w.png"
              alt=""
            /></div
        ></a>
      </li>
      <li class="menu_list_item">
        <a routerLink="/cronometro" class="menu_link"
          ><div class="link_wrap">
            <p>cronômetro</p>
            <img
              class="link_icon"
              src="../../../../assets/img/stopwatch_w.png"
              alt=""
            /></div
        ></a>
      </li>
    </ul>
  </div>
</header>
