<header class="header">
  <div class="header_logo_container">
    <img
      class="header_logo"
      src="../../../assets/img/main_logo.png"
      alt="Main logo."
    />
      <h1 class="header_title">angular sandbox</h1>
    </div>
    <div class="header_menu">
      <input type="checkbox" id="menu_toggle" class="menu_checkbox" />
      <label for="menu_toggle">
        <img class="header_menu_icon" src="../../../../assets/img/menu_w.png" alt="Menu de projetos">
      </label>
      <ul class="menu_list">
        <li class="menu_list_item"><a href="#" class="menu_link"><div class="text_icon_wrap"><p>banco</p></div></a><hr></li>
        <li class="menu_list_item"><a href="#" class="menu_link"><div class="text_icon_wrap"><p>calculadora</p></div></a><hr></li>
        <li class="menu_list_item"><a href="#" class="menu_link"><div class="text_icon_wrap"><p>checklist</p></div></a><hr></li>
        <li class="menu_list_item"><a href="#" class="menu_link"><div class="text_icon_wrap"><p>cronômetro</p></div></a></li>
      </ul>
    </div>
</header>
<div class="background"></div>
