<section class="painel_section">
  <div class="content">
    <div class="painel" *ngIf="listaAnotacoes.length > 0; else listaVazia">
      <div class="painel_item" *ngFor="let item of listaAnotacoes">
        <app-card
          [anotacao]="item"
          (anotacaoEditada)="atualizarPainel()"
          (anotacaoExcluida)="atualizarPainel()"
        ></app-card>
      </div>
    </div>
    <div class="botoes">
      <button routerLink="/memoteca/criar">criar anotação</button>
    </div>
  </div>
</section>
<ng-template #listaVazia>
  <div class="lista_vazia">
    <p>não há anotações a serem exibidas!</p>
  </div>
</ng-template>
