.card {
  background-color: var(--color-dark-0);
  font-family: var(--font-body);
  color: var(--color-neutral-1);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.5rem;
  border: 1px solid var(--color-1);
}
.card img {
  height: 1.3rem;
  background-color: var(--color-1);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}
.card_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.card_row2 {
  background-color: var(--color-dark-2);
}
.card_button {
  padding: 3px;
}
.card_edit {
  background-color: blue;
}
.card_delete {
  background-color: red;
}
.anot_p {
  width: 10rem;
}
.anot_g {
  width: 20rem;
}
